
html, body {
height: 100%;
margin: 0;
}
.wrapper {
min-height: 100%;
margin-bottom: -50px;
}
.footer,
.push {
height: 150px;
border-radius: 12px;
}

.h1-1 {
    text-align: center;
    font-size: 25px;
    font-weight: 400;


}
.image {
    width: 80%;
    padding-left: 70px;
    float: center;
}


